.buttons {
    background-color: #0074d9;
    color: #fff;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .buttons:hover {
    background-color: #0056b3;
  }
  