.home {
    width: 100%;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: #16697a;
  }
  
  .about {
    width: 100%;
    height: calc(90vh - 100px);
    display: flex;
    flex-direction: row; /* Changed to row for side-by-side layout */
    text-align: center;
    background-color: #489fb5;
    color: rgb(172, 191, 207);
  }
  
  .about h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: #242323;
  }
  
  .aboutArticle {
    font-size: 36px;
    width: 50%; /* Adjust the width as needed */
  }
  
  .aboutImage {
    width: 100%; /* Adjust the width as needed */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
  }
  
  .aboutImage img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .about {
      flex-direction: column; /* Stack elements on smaller screens */
    }
  
    .aboutArticle,
    .aboutImage {
      width: 100%; /* Full width on smaller screens */
    }
  }
  
    
  @media only screen and (max-width: 700px) {
    .aboutArticle h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      color: #242323;
    }
    .aboutArticle p {
      font-size: 30px;
    }
  } 